.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  display: flex !important;
  align-items: center;

  &__title {
    padding-left: 10px;
  }
}

.episode-item {
  margin-bottom: 20px;
}

.logo {
  &__banner {
    background-size: cover;
    background-position: center;
    height: 300px;
    padding-left: 20px;
    color: white;
    text-shadow: 0 0 1px #000, 0 0 3px #000, 0 0 5px #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__icon {
    background-size: cover;
    background-position: center;
    height: 150px;
  }
}

.nav-item.tool-button {
  margin: 0 20px;
}
